@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$white: white;
$accent: #a11414;
$hover: #ff0e0e;
$background: #210606;
$gr-accent: rgba(161, 20, 20, 0.55);

/* TODO: Shadows */ 

$default-font: 'Roboto', sans-serif;
