@import 'src/assets/styles/variables';
@import 'src/assets/styles/animation';

.wrapper {
	position: relative;
	button {
		border: none;
		outline: none;
		cursor: pointer;
	}
	.menu {
		position: absolute;
		right: 0;
		background-color: $white;
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
