@import 'src/assets/styles/variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> button {
		cursor: pointer;
		background-color: transparent;
		outline: none;
		border: none;
		font-size: 30px;
		> svg {
			fill: $white;
		}
	}
}
